/** 
 * 主题色自定义
 * $menuBg 菜单背景以及header背景
 * $subMenuBg 二级菜单背景色
 * $menuHover 菜单移入色
 *
 * 可根据实际情况修改主色调颜色
 */

//sidebar
// $menuBg:#304156;
// $subMenuBg:#1f2d3d;
// $menuHover:#001528;

$menuBg:#404040;
$subMenuBg:#303030;
$menuHover:#222222;

// 根据主色调配置按钮颜色
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;